<h1>{{ name }}</h1>

<dl>
  <dt>Nombre:</dt>
  <dd>{{ name }}</dd>

  <dt>Edad:</dt>
  <dd>{{ age }}</dd>

  <dt>Metodo</dt>
  <dd>{{ getHeroDescription() }}</dd>

  <dt>Capitalizacion</dt>
  <dd>{{ capitalizationName }}</dd>

</dl>

<button
*ngIf="name !== 'spiderman'"
type="submit"
(click)="changeName()"
class="btn btn-primary mx-2" >
cambiar nombre
</button>

<button
*ngIf="age !== 25"
type="button"
(click)="changeAge()"
class="btn btn-primary mx-2" >
cambiar edad
</button>

<button
type="button"
(click)="reset()"
class="btn btn-primary" >
reset
</button>
