<p>list works!</p>

<div *ngIf="deleteHero; else heroDelete">
  <h3>Heroe borrado <small class="text-danger">{{ deleteHero }}</small></h3>
</div>

<ng-template #heroDelete>
  <h3>no ha borrado nada</h3>
</ng-template>


<button
*ngIf="heroesName.length > 0 "
(click)="deleteLastHero()"
class="btn btn-outline-danger">
Borrar ultimo heroe
</button>

<ul class="mt-2 list-group">
  <li *ngFor="let name of heroesName" class="list-group.item">{{ name }}</li>
</ul>
<hr>
<!--<hr>
<table >
  <tr *ngFor="let name of heroesName">
    <td>{{ name }}</td>
  </tr>
</table>
<hr>
<hr>
<div *ngFor="let name of heroesName">{{ name }}</div>-->
